.list-item {
    background-color: #fff;
    padding: 15px 15px;
    border: 1px solid #d6dce4;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
  
    &__count-coments {
      display: inline-block;
      margin-left: auto;
      font-size: 14px;
      background-color: #0098bd;
      color: #fff;
      border-radius: 10px;
      width: 25px;
      height: 25px;
      padding: 5px;
      text-align: center;
      align-self: center;
    }
    &__btn {
      color: #ff828a;
      border: 1px solid #ff828a;
      background-color: transparent;
      margin-left: 20px;
      padding: 5px 10px;
    }
  }
  
  .list-item:last-child {
    border-bottom: 1px solid #d6dce4;
  }
  .active-item{
    border-left: 3px solid red;
  }
  