* {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  background-color: #f8f9fa;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.75);
}

.btn {
  background-color: #0098bd;
  color: #fff;
  border: none;
  margin-left: 20px;
  padding: 6px 15px;
  border-radius: 10px;
}
